.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(7, 7, 7, 0.683);
    justify-content: center;
    align-items: center;
    display: flex;
}

.loader-container .loader {
    display: inline-block;
    height: 100px;
    box-sizing: border-box;
    width: 100px;
    border: 20px solid #1976d2;
    border-top-color: white;
    border-radius: 50%;
    animation: infinite 1s myspin linear;
}

@keyframes myspin {

    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}